<template>
    <div id="create-schema">
        <SelectsSection/>
    </div>
</template>

<script>
    import SelectsSection from './Selects/SelectsSection.vue';

    export default {
        name: "create",
        components: {
            SelectsSection,
        },

    }
</script>

<style scoped>

</style>