<template>
    <div id="select-table-div">
        <label>Column</label>
        <select class="form-control" v-model="selected" @change="emitChange">
            <option></option>
            <option v-for="column in columns" :key="column" :value="column">{{column}}</option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "select-column",
        data: function () {
            return {
                columns: [
                    'ct_products_Sets',
                    'ct_products',
                    'ct_products_to_Sets',
                ],
                selected: '',
            }
        },
        methods: {
            emitChange() {
                // var payload = {}
            }
        }
    }
</script>

<style scoped>

</style>