<template>
    <div id="select-table-div">
        <label>Table</label>
        <select class="form-control" v-model="selected" @change="emitChange">
            <option></option>
            <option v-for="table in tables" :key="table" :value="table">{{table}}</option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "select-table",
        data () {
            return {
                tables: [
                    'ct_products_Sets',
                    'ct_products',
                    'ct_products_to_Sets',
                ],
                selected: '',
            }
        },
        methods: {
            emitChange() {
                // var payload = {}
            }
        }
    }
</script>

<style scoped>

</style>