<template>
    <div id="select-table-div">
        <label>Function</label>
        <select class="form-control" v-model="selected" @change="emitChange">
            <option></option>
            <optgroup v-for="(options, label) in functions" :key="label" :label="label">
                <option v-for="option in options" :key="option" :value="option">{{option}}</option>
            </optgroup>
        </select>
    </div>
</template>

<script>
    import queryConstants from '@/constants/queryBuilder.js';

    export default {
        name: "select-function",
        data: function () {
            return {
                functions: queryConstants.select,
                selected: '',
            }
        },
        methods: {
            emitChange() {
                // var payload = {}
            }
        }
    }
</script>

<style scoped>

</style>