<template>
    <div id="selects-section">
        <SelectRow v-for="row in rows" :key="row.index" :ref="'select-row-' + row.index" :index="row.index"/>
    </div>
</template>

<script>
    import SelectRow from './SelectRow.vue';
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        name: "selects-section",
        components: {
            SelectRow,
        },
        data () {
            return {
            }
        },
        computed: {
            ...mapGetters('CreateSchema', {
                rows: 'getRows'
            }),
        },
        mounted() {
            this.$store.dispatch('CreateSchema/addEmptyRow');
        },
        methods: {
        }
    }
</script>

<style scoped>

</style>