<template>
    <div id="selects-row">
        <SelectTable/>
        <SelectFunction/>
        <SelectColumn/>
        <button v-if="this.index === 0" type="button" @click="addRow">
            <i class="fa fa-plus"></i>
            Add
        </button>
        <button v-if="this.index !== 0" type="button" @click="removeRow">
            <i class="fa fa-times"></i>
            Remove
        </button>
    </div>
</template>

<script>
    import SelectTable from './SelectTable.vue';
    import SelectFunction from './SelectFunction.vue';
    import SelectColumn from './SelectColumn.vue';

    export default {
        name: "select-row",
        components: {
            SelectTable,
            SelectFunction,
            SelectColumn
        },
        props: {
            index: Number,
        },
        methods: {
            addRow()
            {
                this.$store.dispatch('CreateSchema/addEmptyRow');
            },
            removeRow()
            {
                const payload = {
                    index: this.index
                };
                this.$store.dispatch('CreateSchema/removeRow', payload);
            }
        }
    }
</script>

<style scoped>

</style>