<template>

    <div id="app">
        <router-view/>
    </div>
    <!--<div id="app">-->
        <!--<div id="nav">-->
            <!--<router-link to="/">Home</router-link> |-->
            <!--<router-link to="/about">About</router-link>-->
        <!--</div>-->
        <!--<router-view/>-->
    <!--</div>-->
</template>

<script>
    // import CreateSchema from './components/Schema/Create/Create.vue';

    // export default {
    //     name: 'app',
    //     components: {
    //         CreateSchema,
            // HelloWorld
        // }
    // }

</script>

<style>
    /*#app {*/
    /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*text-align: center;*/
    /*color: #2c3e50;*/
    /*margin-top: 60px;*/
    /*}*/
</style>
